---
{--:-}/*
---
/**/
@font-face {
    font-family: Roboto;
    src: url(/assets/Roboto-Regular.ttf) format("truetype");
}

:root {
    --bg-light: #e0fff0;
    --bg-dark: #c0ffe0;
    --faint: #00000080;
    --fainter: #00000020;
}

/* utilities */

a[rel*="external"]::after {
    vertical-align: top;
    font-size: 0.75em;
    content: "↗";
}

.flavor {
    margin-block-end: 1.34em;

    h1 {
        margin-block-end: 0.1em;
    }
}

.download {
    float: right;
    margin: 16px 0;
    background-color: var(--bg-dark);
    padding: 16px;

    > h2 {
        margin: 0;
        font-size: 1.25em;
    }
    
    > a {
        font-size: 1.25em;
        
        > span {
            color: var(--faint);
        }
    }
}

.itemlist {
    margin-block: 16px;
    display: grid;
    gap: 16px;
}

.item {
    position: relative;
    background-color: var(--bg-dark);

    > a {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    > div {
        position: relative;
        pointer-events: none;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }
}

.itemtitle {
    margin-block-start: 0;
    margin-block-end: 0.5em;
    > h3 {
        display: inline;
    }
    > span {
        font-weight: bold;
        color: var(--faint);
    }
}

.itemclick {
    display: grid;
    gap: 8px;

    > a {
        pointer-events: auto;
        border: solid 2px var(--fainter);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25em 0.375em;
        color: unset;
        text-decoration: unset;
    }

    > .itemlink {
        background-color: var(--bg-light);
        gap: 0.25em;

        &::before {
            height: 0;
            line-height: 0;
            font-size: 1.25em;
            font-weight: bold;
            content: "⭳";
        }
    }
}

/* layout */

body {
    margin: 0;
    padding: 0;

    background-color: var(--bg-light);
    min-width: 512px;
    font-family: Roboto, sans-serif;
}

header {
    background-color: var(--bg-dark);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerbox {
    position: relative;
    width: 960px;
    max-width: calc(100% - 160px);
}

#icon {
    position: absolute;
    right: 100%;
    z-index: 1;
    padding: 0 8px;
    height: 100%;
    display: flex;
    align-items: center;
}

#items {
    position: relative;
    min-height: 64px;
    display: inline-flex;
    align-items: center;
    font-size: 32px;
    color: var(--fainter);
    pointer-events: none;
    user-select: none;
    
    @media (max-width: 1120px) {
        display: flex;
        font-size: 0;
        column-gap: 8px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &::before, &::after {
        position: absolute;
        content: "emeraldblockemeraldblockemeraldblockemeraldblockemeraldblockemeraldblockemeraldblockemeraldblock";
    }

    &::before {
        right: 100%;
    }

    &::after {
        left: 100%;
    }

    > a, > span {
        font-size: 32px;
    }
    
    > a {
        align-self: stretch;
        display: flex;
        align-items: center;
        color: initial;
        text-decoration: unset;
        pointer-events: auto;
        user-select: auto;
    }
}

#source {
    position: relative;

    &::after {
        position: absolute;
        left: 100%;
    }
}

#core {
    margin: 0 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 32px;

    @media (max-width: 1024px) {
        justify-content: flex-start;
    }
}

nav {
    order: 1;
    background-color: var(--bg-dark);
    margin: 16px 0;
    width: 128px;
    padding: 16px;

    > h2 {
        margin-block-start: 0;
        margin-block-end: 0.5em;
        font-weight: normal;
    }
}

#navlist {
    ul {
        margin-block-start: 0;
        padding-inline-start: 20px;
    }

    a {
        display: block;
    }
}

main {
    position: relative;
    width: 768px;
}

#back {
    position: absolute;
    right: calc(100% + 0.25em);
    top: 0.75em;
    font-size: 1.5em;
    text-decoration: none;
}
